.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: #6e6e6e;
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 3px;
}

.nav-link-text:hover {
  color: #393637;
  border-bottom: 3px solid #eb5050;
}

.active {
  border-bottom: 3px solid #eb5050;
}
